
.headline {
    border-left: solid 10px #777;
    
    background-color: #eee;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 10px;
}

.modtype_headline {
    border-left: solid 10px #777;
    
    background-color: #eee;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 10px;
}

.modtype_headline p {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight:bold;

}

